.container{
    font-size: 1.5rem;
     height: inherit;
     display: flex;
     flex-direction: column;
     
     flex: 1;
     margin:3rem;
}

.line{
 
    border: 1px solid black;

}

.button_class{
     
    max-width: 20rem;
    display : flex;
    justify-content: space-evenly;

    &-no{
        background-color: rgb(245, 37, 37);
    }



}


/* mat-button-toggle.cdk-focused, mat-button-toggle.cdk-mouse-focused {
    background: rgb(245, 37, 37);
    } */

.shape{
    
   
    max-width: 30rem;
    display : flex;
    justify-content: space-evenly;

    &_input{
        height: 20px;
        width: 80px;
       
    }

}

.account{
width: 30rem;
margin-top: 60px;
}

.firstday{

    max-width: 60rem;
    display : flex;
    justify-content: space-evenly;

}

.button_class-yes{
    width: 80rem;
}
.button_class-no{
    width: 80rem;
}


.box{
    padding: 1rem;
  border-style: ridge;
}
b.a {
    padding-left: 20px;
  }
  .message{

    border: 1px solid #C2C2C2;
    margin:16px 0;
    padding: 0 16px;
    background-color: #f9f9f9;
    overflow: hidden;
  }


 .navigation{
     padding:2rem 2rem;
     &_button{
     display: flex;
     justify-content:space-between;
     padding:1.2rem;
         .save_comeback,
         .save_continue{
             background-color: red;
             border-radius:15rem;
         }
         .save_continue:disabled{
             color: rgb(37, 35, 35);
            cursor: no-drop;
        }
 
     }
     
     &_link{
      display: flex;
     justify-content:space-between;
     padding:1.2rem;
     }
    }

    .register-form-full-width {
        width: 30rem;
      }

      .highlight{
        background-color: red;
      }