.header{
    display: flex;
    justify-content: space-around;
    flex:1;
    align-items: center;
    background-color: #FE0002;

    
}

.userInfo{
    
    display: flex;
    justify-content:space-evenly;
}

a{
    margin-left: 10rem;

}
