.footer{

    
    height: 10vh;
    font-size: 1.4rem;
    background-color: #DDDDDD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

a{
  color: rgb(80, 82, 81); 
  text-decoration: none;
}