.container{
    font-size: 1.6 rem;
   
   
    
    display: flex;
    flex-direction: column;
    
    flex: 1;
    margin:3rem;
    
}

.mortgageFieldStyle{
font-weight: bolder;
font-size: 1.4rem;
font-family: sans-serif;
}

.mortgageTextSize{
    font-size: 1.3rem;
}
td{
    font-size: 1.3rem;
   // background-color: rgb(197, 197, 197);
}

.button_class{
    
    display : flex;
    justify-content: space-evenly;
    font-size: 10px;
    

}
.navigation{
    padding:2rem 2rem;
    &_button{
    display: flex;
    justify-content:space-between;
    padding:1.2rem;
        .save_comeback,
        .select{
            background-color: red;
            border-radius:15rem;
            color: white;
            font-size: 11px;

        }

    }
    
    &_link{
     display: flex;
    justify-content:space-between;
    padding:1.2rem;
    }

    a{
        color: grey;
    }

}