<div class="container">
  
 
  <h1>How to apply for your mortgage</h1>
  <br>
<label class="title">You can continue and complete your mortgage application by choosing from one of the options below.</label>
 
<div class="row">
  <div class="column" style="background-color:#ffff;">
    <br>
<div class="head">
    <h2 >Online</h2>
    <br>
    <h4>Without advice</h4></div>
    <br>
    <br>
    <p>Continue online if you're comfortable selecting your own<br> mortgage. You'ii choose and select a mortgage from our<br> range without receiving
      advice from a Santander<br> Mortgage Adviser.
    </p>
    <br>
    <h3>What happens next?</h3>
    <br>
    <p>You can continue online and complete a mortgage application straight away.</p><br>
    <p>In most cases, we'll be able to give you an instant decision, subject to checking any 
      documents we ask you to send us and a satisfactory valuation of the property.</p><br>
      <p>If you're making a joint application online, both applicants can view the information provided and documents submitted. Santander may share information about you and any information returned
        as part of the credit search with all applications.
      </p>
      <div class="navigation_button">
        <div class="navigation">
 
         <button mat-stroked-button (click)="continueOnline()" class="save_comeback" value="">Continue online</button>
     </div></div> 
  </div>
  <div class="column" style="background-color:#ffff;">
    <br>
 
    <div class="head">
      <h2 >By phone</h2>
      <br>
      <h4>With advice</h4></div>
    <br>
    <br>
    <p>Continue by phone and one of our Santander Mortgage<br>Adviser will advice and make a<br> 
      mortgage recommendation based on your circumstances.</p>
      <br>
      <h3>What happens next?</h3>
      <br>
      <p>We'll send you an email within one working day, which will allow you to upload documents to confirm your income details.</p><br>
      <p>We'll then call you back, reconfirm the details you'he provided and complete the application with you by phone. In most cases we'll be able to give you an instant decision,
         subject to checking any documents we ask you to send us and a satisfactory valuation of the property.</p>
 
        <br>
         <h4>you won't be able to log back into this application and continue online.</h4>
         <br>
         <br>
         <div class="navigation_button">
         <div class="navigation">
 
          <button mat-stroked-button class="save_comeback" value="">Continue by phone</button>
      </div></div>        </div>
<br>
<br>
<br>
</div>
<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> <br>
        <br>
        <br>
        <br><br> <br>
        <br>
        <br>
        <br>

        <div class="information">
          <h3>Important Information</h3>
          <div class="message">
              <p>
                  <br>
                <strong>YOUR HOME MAY BE REPOSSESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE </strong>
              </p>
              <br>
              <p>All applications are subject to status and our lending criteria. This means that the amount we will lend you will depend on your individual circumstances, the type of property and the amount you borrow. For example, we may require a
                higher deposit if you are buying a flat or a new build property.</p>
                <br>
            </div>
      </div>