<div class="container">


<div class="heading_1 bold">
  <h2>How to apply for your mortgage</h2>
  <br>
</div>
<p>You can continue and complete your mortgage application by choosing from one of the options below.</p>
</div>
<div class="row">
  <div class="column" style="background-color:#ffff;">
    <h2>Online</h2>
    <br>
    <h4>Without advice</h4>
    <br>
    <br>
    <p>Continue online if you're comfortable selecting your own<br> mortgage. You'ii choose and select a mortgage from our<br> range without receiving
      advice from a Santander<br> Mortgage Adviser.
    </p>
    <br>
    <h3>What happens next?</h3>
    <br>
    <p>You can continue online and complete a mortgage application straight away.</p><br>
    <p>In most cases, we'll be able to give you an instant decision, subject to checking any 
      documents we ask you to send us and a satisfactory valuation of the property.</p><br>
      <p>If you're making a joint application online, both applicants can view the information provided and documents submitted. Santander may share information about you and any information returned
        as part of the credit search with all applications.
      </p>
      <br>
      <br>
      <button type="button" onclick="">Continue onlinee</button>
  </div>
  <div class="column" style="background-color:#ffff;">
    <h2>By phone</h2>
    <br>
    <h4>with advice</h4>
    <br>
    <br>
    <p>Continue by phone and one of our Santander Mortgage<br>Adviser will advice and make a<br> 
      mortgage recommendation based on your circumstances.</p>
      <br>
      <h3>What happens next?</h3>
      <br>
      <p>We'll send you an email within one working day, which will allow you to upload documents to confirm your income details.</p><br>
      <p>We'll then call you back, reconfirm the details you'he provided and complete the application with you by phone. In most cases we'll be able to give you an instant decision,
         subject to checking any documents we ask you to send us and a satisfactory valuation of the property.</p>

        <br>
         <h4>you won't be able to log back into this application and continue online.</h4>
         <br>
         <br>
         <button type="button" onclick="">Continue by phone</button>
  </div>
<br>
<br>
<br>
</div>
<h3>Important Information</h3>
    <br>
    <div class="info-box">
        <h3> YOUR HOME MAY BE REPOSSESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE</h3><br>
        <p>All applications are subject to status and our lending criteria. Thia means that the amount we will lend you
            will depends on<br>
            your individual circumatances, the type of property and the amout you borrow. For example, we may require a
            higher<br>
            deposite if you are buying a flat or a new build property.
        </p>
