/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    
}

html{
    box-sizing: border-box;
    font-size: 62.5%;// 1rem =10px

}



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #F0F0F0;

}

.pageHeading{
    font-size: x-large;
   }

.pageSubHeading{
    font-size: medium;
   }
.buttonStyle{
    background-color: red;
    color: white;
}  

.success {
    color:rgb(94, 241, 94);
}

.warn {
    color: rgb(245, 28, 13);
}